<div class="fixed_buttons">
  <h3>
    <%= link_to "Save", "" %><br />
    <%= link_to 'Preview', ""%><br />
    <%= link_to 'Save&Prev', ""%><br />
    <%= link_to_function 'Update', "document.forms[0].submit()" %><br />
    <%= link_to "Example", example_blogs_path %><br />
  </h3>
</div>
