<%= javascript_include_tag "jstoolbar", "textile" %>
<div id="<%= @blog[:type] %>_form">
  <% form_for :blog, @blog ,:url => blog_path(@blog), :html => {:method => :put, :id => "blog" } do |f| %>
  <div class="fixed_buttons">
    <h3><%= link_to_function 'Update', "$('blog').submit();" %></h3>
    <h3><%= link_to "See Example", example_blogs_path, :popup => true %></h3>
    <h3><%= link_to "Upload File", blog_group_upload_files_path(:blog_group_id => @blog.blog_group_id), :popup => true %></h3>
  </div>
  <p>
   <%= f.text_field :title, :size => 73, :id => "title" %>
  </p>
  <p>
   tags: <%= text_field_tag :tag, @tags, :size => 69 %>
  </p>
  <%= f.text_area :content, :size => "92x18" %>
  <script>
    var wikiToolbar = new jsToolBar($('blog_content')); wikiToolbar.draw();
  </script>
<% end %>
</div>
