<br>
<ht> <%=h @blog.title %> </ht><br>
<hd><%= @blog_group.updated_at %></hd>
<%= link_to 'edit', edit_blog_path(@blog) if admin? %>
<br>
<div>   
  <%= g_textile @blog.content %>
</div>
<br>
<%= render(:partial => "comments/new") %>

