<br>
<ht> <%=h @blog.title %> </ht><br>
<hd><%= @blog.updated_at.to_date %></hd>
<%= link_to 'edit', edit_blog_path(@blog) if admin? %>
<br>
<br>
<div>   
  <%= g_textile @blog.content %>
</div>
<br>
<%= render(:partial => "comments/new") %>
<br>
<br><br><br>
