<br>
<ht><%=link_to h(@blog.title), blog_path(@blog) %></ht>&nbsp;&nbsp;&nbsp;<%= link_to "(read #{@blog.brother.type} version)", blog_path(@blog.brother) if admin? or not @blog.brother.content_blank? %><br>
<%= render(:partial => "blogs/admin_tool") %>
<% cache @blog do %>
  <hd><%= @blog.created_at.to_date %></hd><br>
  
  <br>
  <br>
  <div>   
    <%= g_textile @blog.content %>
  </div>
<% end %>
<br>
<br>

<hd><%= tag_links(@blog) %></hd>
<%= render(:partial => "blogs/admin_tool") %>
<%= render(:partial => "comments/show") %>
<br>
<br><br><br>

