<p>
<%= link_to "logout", session_path(1), :method => :delete %>
</p>
<p>
<%= link_to "change password", edit_password_path(1) %>
</p>
<p>
<%= link_to "blogs", blogs_path %>
</p>
<p>
<%= link_to "comments", comments_path %>
</p>
<p>
<%= link_to "pdf", new_pdf_path %>
</p>
