<br><br>
<% @comments = @blog.comments %>
<%= link_to_function "Comments (#{@comments.size})", "$('comments#{@blog.id}').toggle();" %>
<div id="comments<%= @blog.id %>" style="display:none;" class="comments">
  <% cache @comments do %>
    -----------------------------------------------------------
    <% @comments.each do |comment| %>
      <div class="comment" >
	<hn><%=h comment.name %></hn>
	<hd><%= comment.created_at.to_date %></hd>
	<br>
	<div class="content">
	  <%=g_textile comment.content %>
	</div>
	<br>
      </div>
      ----------------------------
    <% end %>
  <% end %>
  <%= render(:partial => "comments/new") %>
</div>
<br><br><br>
