<%= juggernaut %>

<div id="comments">
  <% @comments.each do |@comment| %>
  <span class="right"><%= link_to "delete", comment_path(@comment), :method => :delete if admin? %></span>
  <%= render(:partial => "comments/show_comment") %>
  <br><br>
<% end %>
</div>

<%= will_paginate @comments %>

<%= javascript_include_tag 'prototype', :juggernaut %>
