<% %w(chinese english).each do |version| %>
  <% if @blog = @blog_group.send(version) %>
    <hv><%= @blog[:type] %>_version </hv>
    <div id="<%= @blog[:type] %>_form">
      <% form_for(:blog, @blog, :url => blog_path(@blog), :html => {:method => :put, :id => @blog[:type]}) do |f| %>
	<div class="<%= version %>_fixed_buttons">
	  <h3><%= link_to_function "Save", "$('#{@blog[:type]}').submit();" %></h3>
	  <h3><%#= link_to 'Preview', ""%></h3>
	  <h3><%#= link_to 'Save&Prev', ""%></h3>
	  <h3><%#= link_to 'Update', "document.forms[0].submit()" %></h3>
	  <h3><%= link_to "Example", example_blogs_path, :popup => true %></h3>
	  <h3><%= link_to "File", blog_group_upload_files_path(:blog_group_id => @blog_group), :popup => true %></h3>
	</div>
	<p>
	  <%= f.text_field :title, :size => 76 %>
	</p>
	<%= f.text_area :content, :size => "98x20" %>
	
      <% end %>
    </div>
    <br><br>
  <% end %>
<% end %>
