<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= javascript_include_tag :defaults, :cache => true %>
    <title>Keep it simple</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
	<div id="logo">
	  <h1><%= link_to(t("Keep it simple"), reset_locale_blogs_path) %></h1>
	</div>
	<div id="menu">
	  <ul>
	    <li class="<%= is_zh? %>"><%= link_to(t("Chinese"), chineses_path) %></li>
	    <li class="<%= is_en? %>"><%= link_to(t("English"), englishs_path) %></li>
	    <li><%= link_to(t("About Me"), abouts_path) %></li>
	  </ul>
	</div>
      </div>
      <div id="page">
	<div id="my_content">
	  <div class="post">
	    <%= yield %>
	  </div>
	</div>
	<div id="sidebar">
	  <ul>
	    <li>
	      <h3><%= link_to "RSS", rsses_path %></h3>
	      <h3><%= link_to t("Blog List"), list_blogs_path %></h3>
	      <br><br>
	      <h2><%= t('recent article') %></h2>
	      <%= recent(8) %>
	    </li>
	    <li>
	    <!-- <li id="search"> -->
	    <!--   <form method="get" action=""> -->
	    <!-- 	<fieldset> -->
	    <!-- 	  <input type="text" id="s" name="s" value="" /> -->
	    <!-- 	</fieldset> -->
	    <!--   </form> -->
	    <!-- </li> -->	  
	    </ul>
<embed width="200" height="240" flashvars="tcolor=0x333333&amp;tcolor2=0x333333&amp;hicolor=0x555555&amp;tspeed=100&amp;distr=true&amp;mode=both&amp;tagcloud=<%= tags %>" allowscriptaccess="always" wmode="transparent" quality="high" bgcolor="#ffffff" name="tagcloudflash" id="tagcloudflash" src="tagcloud.swf" type="application/x-shockwave-flash">


	  </div>
	  <div style="clear: both;">&nbsp;</div>
	</div>
      </div>
      <div id="footer">
	<p>(c) 2010 zhangzhe</a></p>
    </div>
  </body>
</html>
