<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta http-equiv="Pragma" content="no-cache" />
    <%= stylesheet_link_tag :all, :media => "all", :cache => true %>
    <%= javascript_include_tag :defaults, :cache => true %>
    <title>Keep it simple</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
	<div id="logo">
	  <h1><%= link_to(t("Keep it simple"), reset_locale_blogs_path) %></h1>
	</div>
	<div id="menu">
	  <ul>
	    <li class="<%= is_zh? %>"><%= link_to(t("Chinese"), chineses_path) %></li>
	    <li class="<%= is_en? %>"><%= link_to(t("English"), englishs_path) %></li>
	    <li><%= link_to(t("About Me"), abouts_path) %></li>
	  </ul>
	</div>
      </div>
      <div id="page">
	<div id="my_content">
	  <div class="post">
	    <%= yield %>
	  </div>
	</div>
	<div id="sidebar">
	  <ul>
	    <li>
	      <h3><%= link_to "RSS", rsses_path %></h3>
	      <h3><%= link_to t("Blog List"), list_blogs_path %></h3>
	      <br />
	      <br />
	      <h2><%= t('recent article') %></h2>
	      <%= recent(8) %>
	    </li>
	  </ul>
	  <h2><%= t('Tags') %></h2>
	  <%= tags %>
	  <h2><%= t('E-book') %></h2>
	  <%= e_book %>
	</div>
	<div style="clear: both;">&nbsp;</div>
      </div>
    </div>
    <div id="footer">
      <p>(c) 2010 zhangzhe</p>
    </div>
  </body>
</html>
