<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <title>Keep it simple</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
	<div id="logo">
	  <h1><%= link_to(t("Keep it simple"), "/") %></h1>
	</div>
	<div id="menu">
	  <ul>
	    <li><%= link_to(t("Chinese"), chineses_path) %></li>
	    <li><%= link_to(t("English"), englishs_path) %></li>
	    <li><%= link_to(t("About"), "") %></li>
	  </ul>
	</div>
      </div>
      <div id="page">
	<div id="my_content">
	  <div class="post">
	    <%= yield %>
	  </div>
	</div>
	<div id="sidebar">
	  <ul>
	    <li>
	      <h3><%= link_to "RSS", blog_groups_path(:rss) %></h3>
	      <h3><%= link_to t("RSS Chinese"), chineses_path(:rss) %></h3>
	      <h3><%= link_to t("RSS English"), englishs_path(:rss) %></h3>
	      <h3><%= link_to t("Blog List"), list_blog_groups_path %></h3>
	      <h3><%= link_to "All Content", all_content_blog_groups_path %></h3>
	      <h2><%= t('recent') %></h2>
	      <%= recent %>
	    </li>
	    <li>
	    <li id="search">
	      <form method="get" action="">
		<fieldset>
		  <input type="text" id="s" name="s" value="" />
		</fieldset>
	      </form>
	    </li>	  
	  </ul>
	</div>
	<div style="clear: both;">&nbsp;</div>
      </div>
    </div>
    <div id="footer">
      <p>(c) 2009 zhangzhe</a></p>
  </div>
</body>
</html>
